.item-submit {
    background-color: #ffffff;
    color: #92baa2;
    margin-left: 10px;
}

.item-remove {
    background-color: red;
    cursor: pointer;
    border: 2px solid red;
    padding: 5px 10px;
}

.item-remove:hover {
    border: 2px solid #000000;
}



.wardrobe-input {
    background-color: #ffffff;
    padding: 5px;
    border-radius: 4px;
    border: none;
}

.wardrobe-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 10px 0;
    padding: 8px 10px;
}